<h1><%= @artist.artist %></h1>
<h3>Song Name: <%= @song.song %></h3>
<h3>Song Rank: <%= @song.song_rank %></h3>
<hr />
<br />
<%= link_to 'Edit Song', edit_artist_song_path([@artist, @song]) %> |
<%= link_to 'Delete Song', [@artist, @song], method: :delete %> |
<%= link_to 'Back To Songs', artist_songs_path(@artist) %> |
