<h1>All Billboards</h1>
<%= link_to 'Create Billboard', new_board_path %>
<hr />
<% @boards.each do |board|%>
  <h4><%= board.name %></h4>
  <%= link_to "#{board.name}'s Songs", board_path(board) %> |
  <%= link_to "Edit Board", edit_board_path(board) %> |
  <%= link_to "Delete Board", board_path(board), method: :delete %>
<% end %>
<hr />
